body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #2C2C2C;
    background-color: #fff;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.nav_link {
    color: #2C2C2C;
}

.nav_link:hover, 
.nav_link:focus {
    color: #BBF330;
    text-decoration: underline;
}

.header_btn {
    color:#2C2C2C;
    font-size: 13px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    background-color: #BBF330;
    line-height: 150%;
}

.header_btn:hover,
.header_btn:focus {
    background-color: #FFE450;
}